-provide(:title, "Show Textbook")

%h3 Textbook: #{@textbook.name}

%p Description: #{@textbook.additional_info}

%p Level: #{@textbook.level}

- if user_signed_in? && policy(@textbook).update?
  .btn-group.float-left{"role" => "group", "aria-label" => "Textbook controls"}
    = link_to "Edit Textbook", edit_textbook_path(@textbook), class: "btn btn-outline-secondary btn-sm"
    = link_to "Delete", @textbook, method: :delete, data: { confirm: "Are you sure you wanna delete this textbook and all of its pages?" }, class: "btn btn-outline-secondary btn-sm"

%table.table.table-striped.table-sm
  %thead
    %tr
      %th{"scope" => "col"} Page Number
      %th{"scope" => "col"} Description
      %th{"scope" => "col"} Grammar point
  %tbody
    - @textbook.textbook_pages.order(page: :asc).each do |page|
      %tr
        %td= page.page
        %td= markdown(page.description)
        %td= link_to page.tag.long_name, page.tag
        - if policy(page).update?
          %td
            %span= link_to "(Edit)", edit_textbook_page_path(page)
            %span= link_to "(Delete)", page, method: :delete, data: { confirm: "Are you sure you wanna delete this page?" }

- if policy(@textbook).update?
  %p Add a new page quickly:
  = render 'textbook_pages/compact_form'
  %p= link_to "Add pages manually (a little more robust)", new_textbook_page_path
