-provide(:title, t('.textbook-page-title', textbook_title: @textbook.name) )

.full-textbook-display
  %h1= @textbook.name
  .full-textbook-info
    %p.full-textbook-description= @textbook.additional_info
    - unless @textbook.year_published.nil?
      %p.full-textbook-year= @textbook.year_published
    %p.full.textbook-level= @textbook.level
    - unless @textbook.current?
      %p.full-textbook-obsolete (obsolete)

  %table.textbook-page-listing
    %thead
      %th{"scope" => "col"}= t('.page-number')
      %th{"scope" => "col"}= t('.page-description')
      %th{"scope" => "col"}= t('.grammar-point')
    %tbody
      - @pages.each do |page|
        %tr
          %td= page.page
          %td= markdown(page.description)
          %td 
            %span= link_to page.tag.name, page.tag, class: "tag-link"
            - if policy(page).update?
              %span= link_to "Edit", edit_textbook_page_path(page), class: "comment-control-link"
              %span= link_to "Delete", page, method: :delete, data: { confirm: "Are you sure you wanna delete this page?" }, class: "comment-control-link"

  - if policy(@textbook).update?
    %p Add a new page quickly:
    = render 'textbook_pages/compact_form'
    %p= link_to "Add pages manually", new_textbook_page_path

    %ul.general-controls
      %li= link_to "Edit", edit_textbook_path(@textbook)
      %li= link_to "Delete", @textbook, method: :delete, data: { confirm: "Delete this textbook?" }
