<%= recaptcha_tags %>
<h2><%= t('registration.sign-up-heading') %></h2>

<p><%= t('registration.sign-up-info-1') %></p>
<p><%= t('registration.sign-up-info-2') %></p>
<p><%= t('registration.sign-up-info-3') %></p>
<p><%= t('registration.sign-up-info-4') %></p>
<p>Please make sure you complete every Captcha on the page.
Get in touch with us through the Contact page if registration doesn't work.
We've had a lot of spam accounts signing up for the site, and they're pretty persistent!</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages" %>

  <div class="col-sm-10 col-lg-4">
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit t('registration.sign-up-button'), class: "btn btn-primary mt-2 mb-2" %>
    </div>
  </div>
  <div class="g-recaptcha" data-sitekey="6Lci9oMUAAAAACJEoSVu_sqgDxQA57AVGNPVqk0m"></div>
<% end %>

<%= render "devise/shared/links" %>
