<% if Rails.env.production? %>
  <%= recaptcha_tags %>
<% else %>
  <p>The Captcha should be here, but since we're not in production, it isn't loaded.
  I really should put it in, but the fake keys didn't work when I tried them!</p>
<% end %>
<h2><%= t('registration.sign-up-heading') %></h2>

<p><%= t('registration.sign-up-info-1') %></p>
<p><%= t('registration.sign-up-info-2') %></p>
<p><%= t('registration.sign-up-info-3') %></p>
<p><%= t('registration.sign-up-info-4') %></p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="col-sm-10 col-lg-4">
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit t('registration.sign-up-button'), class: "btn btn-primary mt-2 mb-2" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
