.comment-section
  %ul.comment-list
    - comments.each do |comment|
      %li.comment{"id" => comment.id}
        .commenter-info
          = render partial: "users/avatar", locals: { user: comment.user, size: "70" }
          -# = link_to (image_tag "general avatar.png", size: "70x70", class: "commenter-pic"), comment.user
          %span= link_to comment.user.username, comment.user, class: "user-link"
          %span= l(comment.created_at, format: :quite_short)
        - if comment.user.initial_premium?
          .comment-text= markdown(comment.content, level: :permissive)
        - else
          .comment-text= markdown(comment.content)
        - if user_signed_in?
          .comment-controls
            - if show_source
              = link_to "(Source)", polymorphic_url(comment.commentable, anchor: comment.id), class: "comment-control-link"
            - if policy(comment).unapprove?
              = link_to t('.hide-link'), unapprove_comment_path(comment), method: :put, class: "comment-control-link"
            - if policy(comment).delete?
              = link_to t('.delete-link'), comment, method: :delete, data: { confirm: t('.delete-confirmation') }, class: "comment-control-link", remote: true

= paginate comments
