.comment-section
  %ul.comment-list
    - comments.each do |comment|
      %li.comment
        .commenter-info
          = image_tag "logo.png", size: "70x70", class: "commenter-pic"
          = link_to comment.user.username, comment.user
          %p= l(comment.created_at, format: :quite_short)
        .comment-text= comment.content
        - if user_signed_in?
          .comment-controls
            - if policy(comment).unapprove?
              = link_to t('.hide-link'), unapprove_comment_path(comment), method: :put, class: "comment-control-link"
            - if policy(comment).delete?
              = link_to t('.delete-link'), comment, method: :delete, data: { confirm: t('.delete-confirmation') }, class: "comment-control-link", remote: true

= paginate comments
