- if user_signed_in?
  .comment-form
    %h5= t('.form-header')
    %small= t('.comment-guidelines')
    = form_for(@comment) do |f|
      .input-group
        = f.text_field :content, placeholder: t('.comment-placeholder'), class: 'form-control'
        = f.hidden_field :commentable_type, value: commentable_type
        = f.hidden_field :commentable_id, value: commentable_id
        .input-group-append
          = f.submit t('submit'), class: "btn btn-outline-primary"
- else
  %p= link_to t('.please-log-in'), new_user_session_path 

