- if user_signed_in?
  #comment-form
    %h5= t('.form-header')
    %small= t('.comment-guidelines')
    = form_with model: @comment, remote: true do |f|
      .comment-form-content
        = f.text_area :content, class: "comment-textarea", rows: 2, maxlength: 500
        = f.hidden_field :commentable_type, value: commentable_type
        = f.hidden_field :commentable_id, value: commentable_id
        = f.submit t('submit'), class: "comment-submit-button"
- else
  %p= link_to t('.please-log-in'), new_user_session_path 

