= form_for @activity do |f|
  = render 'shared/error_messages', object: f.object
  .form-group
    .form-row
      .col
        %label{"for" => "activity_title"} Title
        = f.text_field :title, class: "form-control"
      .col
        %label{"for" => "activity_author"} Author
        = f.text_field :author, class: "form-control"
      .col
        %label{"for" => "activity_submission_date"} Submission Date
        = f.text_field :submission_date, class: "form-control"
      .col
        %label{"for" => "activity_estimated_time"} Estimated Time
        = f.text_field :estimated_time, class: "form-control"

  .form-group
    %span Parts of learning:
    = f.label "Speaking"
    = f.check_box :speaking
    = f.label "Listening"
    = f.check_box :listening
    = f.label "Reading"
    = f.check_box :reading
    = f.label "Writing"
    = f.check_box :writing

  .form-group
    %span Level or type:
    = f.label "Warm-up"
    = f.check_box :warmup
    = f.label "Elementary"
    = f.check_box :es
    = f.label "Junior High"
    = f.check_box :jhs
    = f.label "High School"
    = f.check_box :hs

  %p
    %span Included files: #{@activity.attached_files}
    %small Non-editable. If we need to change files in the final activity, we should just do it through ALTopedia's file hosting.

  .form-group
    %label{"for" => "activity_outline"} Outline
    = f.text_field :outline, class: "form-control"

  .form-group
    %label{"for" => "activity_description"} Description
    = f.text_area :description, class: "form-control", rows: 16

  = f.submit "Update activity", class: "btn btn-primary"
