-provide(:title, "Englipedia Activity - #{@activity.title}")

%p 
  %span= link_to "<< Back to all activities", englipedia_activities_path
  %span= link_to "Edit this activity", edit_englipedia_activity_path(@activity), class: "btn btn-primary"
  %span= link_to "Delete this activity", @activity, method: :delete, class: "btn btn-primary"

- if @activity.converted
  %h2 This activity was already converted into an ALTopedia activity! Feel free to delete it.
%h4 Englipedia Activity - #{@activity.title}
%h6 by #{@activity.author}

%p Originally submitted #{@activity.submission_date}
%p Estimated time: #{@activity.estimated_time}
%p Parts of learning:
%ul
  - if @activity.speaking
    %li Speaking
  - if @activity.listening
    %li Listening
  - if @activity.reading
    %li Reading
  - if @activity.writing
    %li Writing
%p
  Level or type:
  - if @activity.warmup
    %span Warm-up
  - if @activity.es
    %span Elementary
  - if @activity.jhs
    %span Junior High School
  -if @activity.hs
    %span High School
%p Included files:
%p Please check to see if any files give a 404 error! Currently the activities won't convert correctly if they do. I'll need to find a way to let us edit the list of activity files.
- if @links.any?
  %ul
    - @links.each do |link|
      %li= link_to link, link

%p Outline:
%p= @activity.outline

%p Description:
%p= markdown(@activity.description)

%span= link_to "Looks good - make it an ALTopedia activity!", convert_englipedia_activity_path, method: :put, class: "btn btn-primary"
