-provide(:title, t('.title'))

-# Not splitting this out into a partial yet - User creation and user editing will need to look different

.col-sm-12.col-md-8
  %h3= t('.heading')

  %p= t('.profile-instructions')

  = form_for(@user) do |f|
    = render 'shared/error_messages', object: f.object
    .form-group
      %label{"for" => "username"}= t('.username')
      = f.text_field :username, class: 'form-control', disabled: !current_user.admin?
    .form-group
      %label{"for" => "email"}= t('.email')
      = f.text_field :email, class: 'form-control', disabled: !current_user.admin?
    .form-group
      %label{"for" => "home_country"}= t('.home-country')
      = f.text_field :home_country, class: 'form-control'
    .form-group
      %label{"for" => "location"}= t('.location')
      = f.text_field :location, class: 'form-control'
    .form-group
      %label{"for" => "bio"}= t('.bio')
      = f.text_area :bio, class: 'form-control', rows: 4

    = f.submit t('submit'), class: "btn btn-primary"
