- provide(:title, "Contributors")

%h4 Top contributors
.row
  - @contributors.each do |contributor|
    .card.col-sm-8.col-md-6.col-lg-3
      .card-body
        %span.font-weight-bold= link_to "#{contributor.username} (#{contributor.activity_count})", contributor
= paginate @contributors

%br

%h4 Moderators
.row
  - @moderators.each do |user|
    .card.col-sm-8.col-md-6.col-lg-3
      .card-body
        %span.font-weight-bold= link_to "#{user.username}", user

