- provide(:title, "Contributors")


%h3 Administrators
- @admins.each do |user|
  .card
    .card-body
      %span.font-weight-bold= link_to "#{user.username}", user

%h3 Moderators
- @moderators.each do |user|
  .card
    .card-body
      %span.font-weight-bold= link_to "#{user.username}", user

%h3 Users
- @normal_users.each do |user|
  .card
    .card-body
      %span.font-weight-bold= link_to "#{user.username}", user


