=form_with(url: tag_search_path, method: :get, id: "tag-search-form") do
  .tag-search-tag-selector
    #tag-accumulator
      %p Searching for activities that include all of these tags:
    %ul
      - @tag_categories.each do |category|
        %li.form-tag-category
          %p.form-tag-category-name= category.name
          %ul.form-tag-list
            = collection_check_boxes(:tag, :tag_ids, category.tags, :id, :name_for_lists) do |tag|
              %li.form-tag
                = tag.check_box({class: "form-tag-checkbox", data: { id: "#{category.id}", text: "#{tag.text.split('##')[0]}"}})
                = tag.label do 
                  %span.form-tag-name #{tag.text.split('##')[0]} -
                  = markdown(tag.text.split('##')[1])
  = submit_tag "Search", class: "submit-button"
    