.container
=form_with(url: tag_search_path, method: :get, id: "tag-search-form") do
  .accordion{"id" => "accordionCategory"}
    - @tag_categories.each do |category|
      .card
        .card-header{"id" => "heading-#{category.name}"}
          %h5.mb-0
            %button.btn.btn-link.btn-block.text-left.collapsed{"data-toggle" => "collapse", "data-target" => "#collapse-category-#{category.id}",
                                  "aria-expanded" => "false", "aria-controls" => "collapse-category-#{category.id}", "type" => "button"}
              %h5{"id" => "title-#{category.name}"}= category.name
          %ul.selected-list{"id" => "selected_items-#{category.id}"}
        %div.collapse{ "id" => "collapse-category-#{category.id}", "aria-labelledby" => "heading-#{category.name}", "data-parent" => "#accordionCategory" }
          .card-body
            .container
              %div.category-tag-grid.btn-group-toggle{ "data-toggle" => "buttons" }
                = collection_check_boxes(:tag, :tag_ids, category.tags, :id, :name_for_lists) do |tag|
                  %label.btn.btn-primary.category-tag-grid-item{"aria-pressed" => "false", "data-bs-toggle" => "tooltip", "data-bs-placement" => "bottom", "title" => "#{Tag.find(tag.value).description}", "container" => 'body' }
                    %p= tag.text
                    %input{"class" => "form-check-input", "type" => "checkbox", "name" => "tag[tag_ids][]", "id" => "tag_tag_ids_#{tag.value}", "value" => tag.value, "onClick" => "handleTagClick(this)"}
  .container
  =submit_tag "Search", class: "btn btn-primary"
    