- provide(:title, "ALTopedia - Search")

.full-generic-page
  %h2 Search results
  %p You searched for "#{params[:search]}"
  - if @tags.any?
    %h3 Matching tags
    %ul.tag-card-list
      - @tags.each do |tag|
        %li.tag-card
          = link_to tag, title: tag.description do
            %p.tag-card-name= tag.name
            .tag-card-description= markdown(tag.description)

  - if @activities.any?
    %h3 Matching activities
    %ul.activity-card-list
      - @activities.each do |activity|
        %li.activity-card
          = link_to activity, title: activity.short_description do
            %p.activity-card-name= activity.name
            %p.activity-card-description= activity.short_description
  - else
    %p Sorry! No activities matched that search text.

