- provide(:title, t('.title'))

.full-generic-page
  %h2= t('.heading')

  - @activity_links.each do |activity_link|
    %p
      %span= link_to activity_link.original.name, activity_link.original
      %span= t('.left-item-inspired-right')
      %span= link_to activity_link.inspired.name, activity_link.inspired
      - if user_signed_in? && ( current_user.admin? || current_user.moderator? )
        %small= link_to "(remove link)", activity_link, method: :delete, data: { confirm: "Remove the link between these activities?" }

  = paginate @activity_links
