- provide(:title, t('.title'))
%h2= t('.heading')

%p= t('.explanation')

.card.mb-2
  .card-body
    %h4= link_to @source_activity.name, @source_activity
    %p= @source_activity.short_description

%p= t('.search_explanation')

= form_tag(link_search_path, method: :get, class: "form-inline") do
  = text_field_tag :search
  = hidden_field_tag :source_id, @source_activity.id
  = submit_tag t('.search'), class: "btn btn-primary"
