- provide(:title, t('.title'))

.full-tag-display
  %h1= t('.heading')
  %p= t('.explanation')
  - @tag_categories.each do |category|
    %h3= category.name
    %ul.tag-card-list
      - category.tags.each do |tag|
        %li.tag-card
          = link_to tag, title: tag.description do
            %p.tag-card-name= tag.name
            .tag-card-description= markdown(tag.description)