- provide(:title, "Show Tag")

%h4 Tag: #{@tag.short_name} (#{@tag.long_name})

%p Description: #{@tag.description}

- @tag.activities.each do |activity|
  .card
    .card-body
      %span.font-weight-bold= link_to activity.name, activity
      %span.font-weight-normal= activity.short_description