- provide(:title, t('.show-tag-title', tag_name: @tag.name) )
- content_for :head do
  <meta property="og:title" content="ALTopedia - #{@tag.name}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="#{request.original_url}" />
  <meta property="og:image" content="https://www.altopedia.net#{asset_path "logo with background.png"}" />
  <meta property="og:description" content="#{@tag.description}" />
  <meta property="og:site_name" content="ALTopedia" />

.full-tag-display 
  %h1= @tag.name
  %p= markdown( @tag.description )

  - if @activities.any?
    %ul.activity-card-list
      - @activities.each do |activity|
        %li.activity-card
          = link_to activity, title: activity.short_description do
            %p.activity-card-name= activity.name
            %p.activity-card-description= activity.short_description
    = paginate @activities
  
  - if user_signed_in? && policy(@tag).edit?
    %ul.general-controls
      %li= link_to "Edit", edit_tag_path(@tag)
      %li= link_to "Delete", @tag, method: :delete, data: { confirm: "Really delete this tag?" }

= render partial: 'comments/comment_list', locals: { comments: @comments }

= render partial: 'comments/form', locals: { commentable_type: "Tag", commentable_id: @tag.id }
