- provide(:title, t('.title', name: @tag_category.name))

.full-tag-display
  %h1= t('.heading', name: @tag_category.name)

  %ul.tag-card-list
    - @tags.each do |tag|
      %li.tag-card
        = link_to tag, title: tag.description do
          %p.tag-card-name= tag.name
          .tag-card-description= markdown(tag.description)

  - if user_signed_in? && policy(@tag_category).edit?
    %p Instructions: 
    .full-category-instructions= @tag_category.instruction
    %p Suggested maximum: #{@tag_category.suggested_max}
    %ul.general-controls
      %li= link_to "Edit", edit_tag_category_path(@tag_category)
      %li= link_to "Delete", @tag_category, method: :delete, data: { confirm: "Delete this category? It's not coming back!" }