<%= provide(:title, "ALTopedia - Log in") %>

<div class="login-page">
  <h2><%= t('login.log_in') %></h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f| %>

    <%= f.label :login, "Username or e-mail address", class: "username-label" %>
    <%= f.text_field :login, autofocus: true, type: "email-or-username", class: "username-input" %>
    <%= f.password_field :password, autocomplete: "off", type: "password", class: "password-input" %>
    <%= f.label :password, "Password", class: "password-label" %>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label t('login.remember_me'), class: "username-label" %>
      </div>
    <% end %>
    <%= f.submit t('layouts.log_in'), class: "login-submit-button" %>
    <%= render "devise/shared/links" %>
  <% end %>


</div>
