- provide(:title, t('.title'))

.full-generic-page
  %h2= t('.page-header')

  %p= t('.contribution-explanation')

  %h3= link_to t('.submit-activity-link-heading'), new_activity_path
  %p= t('.submit-activity-explanation')

  %h4= link_to t('.patreon-link-heading'), "https://www.patreon.com/altopedia"
  %p= t('.patreon-explanation')
  %p= link_to t('.ko-fi-explanation'), "https://www.ko-fi.com/altopedia"

  %h4= link_to t('.textbook-info-heading'), contact_path
  %p= t('.textbook-info-explanation')
  %p= link_to "How to Contribute Textbook Information", "https://youtu.be/mzmtvX00oKk"

  %h4= link_to t('.comment-heading'), new_user_registration_path
  %p= t('.comment-explanation')

  %p= t('.contact-text')
