- provide(:title, t('.title'))

%h2= t('.page-header')

%p= t('.contribution-explanation')

%h4= link_to t('.submit-activity-link-heading'), new_activity_path
%p= t('.submit-activity-explanation')

%h5= link_to t('.textbook-info-heading'), contact_path
%p= t('.textbook-info-explanation')

%h5= link_to t('.grammar-heading'), contact_path
%p= t('.grammar-explanation')

%h5= link_to t('.comment-heading'), new_user_path
%p= t('.comment-explanation')

%p= t('.contact-text')
