- provide(:title, t('.title'))

.full-generic-page

  %h2= t('.grammar-heading')

  %ul.tag-card-list
    - @tags.each do |tag|
      %li.tag-card
        = link_to tag, title: tag.description do
          %p.tag-card-name= tag.name
          .tag-card-description= markdown(tag.description)

  %p= link_to t('.all-tags'), all_tags_path