- provide(:title, "ALTopedia - Home")
- content_for :head do
  <meta property="og:title" content="ALTopedia" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="#{request.original_url}" />
  <meta property="og:image" content="https://www.altopedia.net#{asset_path "logo with background.png"}" />
  <meta property="og:description" content="Find activities, games, and worksheets to use in your English classes. Share your ideas and help your fellow teachers make their classes awesome!" />
  <meta property="og:site_name" content="ALTopedia" />

.front-page
  .fp-primary-items
    .fp-site-banner
    .fp-news
      %p.fp-news-header News
      - @top_posts.each do |post|
        .news-card
          = link_to posts_path(post) do
            %p.news-headline= post.title
            %p.news-excerpt= post.excerpt
            %p.read-more-link= t('.read-more')
      %p.fp-post-index-link= link_to t('.front-page-posts-index'), front_page_posts_path
  .fp-callouts
    .callout
      %p.card-title Do you need an activity for class?
      %p= link_to "Start by checking out your textbook's listings.", textbooks_path
    -# = render "tag_of_the_moment"
    - if user_signed_in?
      .fp-user-card
        = render partial: "users/avatar", locals: { user: current_user, size: "70"}
        .fp-user-controls
          %span Welcome back, #{link_to current_user.username, current_user}!
          = link_to "Edit your profile", edit_user_path(current_user), class: "fp-edit-profile-link"
    - else
      .callout
        %p.card-title You can join ALTopedia!
        %p.card-text= link_to "Make a new account", new_user_registration_path
        %p.card-text= link_to "Sign in", new_user_session_path
    .fp-funding
      %p.card-title Please help support the site!
      %p.card-text ALTopedia is ad-free and independent.
      %p.card-text The community is the sole source of funding. Please consider contributing to help keep the site alive.
      = link_to "Check out the options!", contribute_path
    .fp-comment-ticker
      %ul.comment-ticker
        %p.ticker-title Recent comments
        - @comments.each do |comment|
          %li.ticker-item= link_to comment.content, polymorphic_url(comment.commentable, anchor: comment.id), title: comment.content
  .fp-tickers
    .fp-activity-ticker
      %p.ticker-title= t('.newest-activities')
      %ul.user-activity-ticker
        - @newest.each do |activity|
          %li.ticker-activity= link_to activity.name, activity, title: activity.short_description
    .fp-activity-ticker
      %p.ticker-title= t('.top-10-activities')
      %ul.user-activity-ticker
        - @top10.each do |activity|
          %li.ticker-activity= link_to activity.name, activity, title: activity.short_description
