-provide(:title, "ALTopedia - Resources")

%h2 Other useful resources

%p Couldn't find what you were looking for on ALTopedia? Here are some other sites that might be able to help you.

.card-columns
  .card.box-shadow
    .card-body
      %h5= link_to "ALT Training Online", "https://www.alttrainingonline.com"
      %p.card-text Our sister site! Dive into lesson planning, career development, and the nitty-gritty of teaching English.
  .card.box-shadow
    .card-body
      %h5= link_to "Englipedia archive", "http://englipedia.co/www.englipedia.net/Pages/default.html"
      %p.card-text Englipedia was the biggest resource for English-teaching resources until its sunset in 2018. It still has a mountain of activities for a wide variety of grammar points and school levels, so check out the archive!


%h5 Activity sites
%ul
  %li= link_to "TEFLtastic", "https://tefltastic.wordpress.com"
  %li= link_to "Akita JET teaching resources", "http://akitajet.com/wiki/Teaching_resources"
  %li= link_to "ALT Wiki", "https://www.altwiki.net"
  %li= link_to "Breaking News English", "https://breakingnewsenglish.com"
