-provide(:title, "ALTopedia - Acknowledgements")

%h3 Acknowledgements

%p 
  This site couldn't exist without the hard work of many people. We're very lucky to live in a time when robust, reliable software is available free of charge under an open-source model. Some of the software that ALTopedia is built on includes
  %span= link_to "Ruby on Rails,", "http://www.rubyonrails.org"
  %span= link_to "PostgreSQL,", "http://postgresql.org"
  %span= link_to "Bootstrap,", "http://www.getbootstrap.com"
  and many other programs and tools.

%p Jake wants to thank:

%ul
  %li #{link_to "Michael Hartl's Rails Tutorial", "https://railstutorial.org"} - A wonderful resource for learning how to develop Ruby on Rails applications. If any technical aspect of the site works well, it's because I learned it from this. If anything doesn't, it's my fault!
  %li #{link_to "Stack Overflow", "https://www.stackoverflow.com"} - If you've ever had any kind of programming and technical question, it was probably answered four years ago on this site. I can only imagine how many hours of work it's saved me!
  %li All family and friends, of course!
