- provide(:title, t('.title'))

.full-generic-page
  %h2= t('.header')

  %ul.tag-card-list
    - @theme_tags.each do |tag|
      %li.tag-card
        = link_to tag, title: tag.description do
          %p.tag-card-name= tag.name
          .tag-card-description= markdown(tag.description)

  %h2= t('.holidays')

  %ul.tag-card-list
    - @holiday_tags.each do |tag|
      %li.tag-card
        = link_to tag, title: tag.description do
          %p.tag-card-name= tag.name
          .tag-card-description= markdown(tag.description)