= form_for(@activity) do |f|
  = render 'shared/error_messages', object: f.object
  .guidelines-text
    %p= t('.guidelines.guideline-heading')
    %ul
      %li= t('.guidelines.rule-1')
      %li= t('.guidelines.rule-2')
      %li= t('.guidelines.rule-3')
      %li= t('.guidelines.rule-4')
      %span= link_to "(Markdown guide)", "http://commonmark.org/help/"
      %li= t('.guidelines.rule-5')
      %li= t('.guidelines.rule-6')
      %span= link_to "Creative Commons BY-NC-SA 4.0 license", "https://creativecommons.org/licenses/by-nc-sa/4.0/"
      %li= t('.guidelines.rule-7')
  .form-group
    %label{"for" => "activity_name"}= t('.activity_title')
    = f.text_field :name, class: 'form-control'
  .form-group
    %label{"for" => "activity_short_description"}= t('.short_description')
    = f.text_area :short_description, class: 'form-control'
  .form-group
    %label{"for" => "activity_long_description"}= t('.long_description')
    = f.text_area :long_description, class: 'form-control', rows: 8
  .form-group
    %label{"for" => "activity_time_estimate"}= t('.time_estimate')
    = f.text_field :time_estimate, class: 'form-control'
  .tag-chooser
    %h4= t('.tag_heading')
    %p= t('.tag_directions_1')
    %p= t('.tag_directions_2')
    %p 
    - @tag_categories.each do |category|
      .tag-block.col-md-4
      %h5= category.name
      %ul
        = f.collection_check_boxes :tag_ids, category.tags, :id, :name_for_lists do |tag_item|
          %li #{tag_item.check_box class: "form-check-input"} #{markdown(tag_item.label class: "form-check-label")}
    %h3= t('.file-heading')
    - if @activity.documents.attached?
      .edit-attached-files-list.mb-2
        %h5= t('.attached-files-header')
        %p= t('.delete-attached-files')
        %ul
        - @activity.documents.each do |file|
          %li
            %span= link_to file.blob.filename, url_for(file)
            %span= link_to image_tag("x-circle.svg", alt: "(Delete)", title: "Delete this file"), 
              delete_attached_document_activity_url(file, activity_id_for_deletion: @activity.id), method: :delete, data: { confirm: "Delete this file?" }
    %p= (t'.file-attach-text')
    = f.file_field :documents, multiple: true, direct_upload: true, class: "form-control-file"
    %br
    = f.submit t('submit'), class:"btn btn-primary"

