.full-activity-display
  .full-activity-heading
    %h1= activity.name
    %p.activity-subheading= activity.short_description
  .full-activity-details
    .full-activity-info
      %p.full-activity-submitter
        Submitted by
        %span= link_to activity.user.username, activity.user, class: "user-link"
      %p= l(activity.created_at, format: :quite_short)
      - if @source_activities.any?
        - @source_activities.each do |activity|
          %p
            Inspired by:
            = link_to activity.name, activity
      - if @inspired_activities.any?
        - @inspired_activities.each do |activity|
          %p
            Inspired:
            = link_to activity.name, activity
      %p= t('activities.show.time_estimate', time_estimate: activity.time_estimate)
    .full-activity-description
      = markdown(activity.long_description)
      - if activity.documents.attached?
        .activity-file-list
          %h6 Files:
          %ul
            - activity.documents.each do |document|
              %li.activity_file
                = link_to document.blob.filename, url_for(document)
    .full-activity-controls
      = render "thumbs_up"
      - if user_signed_in? && policy(activity).update?
        %ul.activity_control_items
          %li
            = link_to t('activities.show.edit'), edit_activity_path(activity), class: "activity-control"
            - if ( (activity.unapproved? || activity.edited? ) && policy(activity).approve? )
              = link_to t('activities.show.approve'), approve_activity_path(activity), method: :put, data: { confirm: "Approve this activity?" }, class: "activity-control"
            - elsif activity.approved? && ( policy(activity).unapprove? )
              = link_to t('activities.show.deapprove'), unapprove_activity_path(activity), method: :put, class: "activity-control"
            - if !activity.checked? && policy(activity).verify_edits?
              = link_to "Verify changes", verify_edits_activity_path(activity), method: :put, class: "activity-control"
            = link_to t('activities.show.delete'), activity, method: :delete, data: { confirm: t('activities.show.delete_confirmation') }, class: "activity-control"
  .activity-tags-display
    %ul.activity-tags-list
      - if user_signed_in? && policy(activity).update?
        = render 'taggings/activity_tagging_list'
        = render 'taggings/form'
        = render 'activity_links/new'
      - else
        - activity.tags.each do |tag|
          %li
            = link_to tag.name, tag, class: "activity-tag" 
  .activity-license-info
    %p All content is provided under the #{link_to "Creative Commons Attribution-NonCommercial-ShareAlike 4.0 License",  "https://creativecommons.org/licenses/by-nc-sa/4.0/"}.
  

= render partial: 'comments/comment_list', locals: { comments: @comments, show_source: false }

= render partial: 'comments/form', locals: { commentable_type: "Activity", commentable_id: @activity.id }
