
%p= link_to "Activity number: #{activity.id}", activity
%p Activity name: #{activity.name}
%p Short description: #{activity.short_description}
%p Long description: #{activity.long_description}
%p Estimated time: #{activity.time_estimate}
%p Submitted by: #{activity.user.username}