.card
  %h3.card-header= activity.name
  .card-body
    %h5.card-title= activity.short_description
    .row
      .col-md-9
        %p= markdown(activity.long_description)
        - if activity.documents.attached?
          %h6 Files:
          - activity.documents.each do |document|
            %p= link_to document.blob.filename, url_for(document)
      .col-md-3
        = render "thumbs_up"
        %p= t('activities.show.time_estimate', time_estimate: activity.time_estimate)
        %p
          =t('activities.show.submitted_by')
          =link_to activity.user.username, activity.user
        %p= l(activity.created_at, format: :quite_short)
        - if user_signed_in? && policy(activity).update?
          .btn-group.float-right{"role" => "group", "aria-label" => "Activity controls"}
            - if activity.unapproved? || activity.edited?
              = link_to t('activities.show.approve'), approve_activity_path(activity), method: :put, data: { confirm: "Approve this activity?" }, class: "btn btn-outline-secondary btn-sm"
            - elsif activity.approved? && ( policy(activity).unapprove? )
              = link_to t('activities.show.deapprove'), unapprove_activity_path(activity), method: :put, class: "btn btn-outline-secondary btn-sm"
            = link_to t('activities.show.edit'), edit_activity_path(activity), class: "btn btn-outline-secondary btn-sm"
            = link_to t('activities.show.delete'), activity, method: :delete, data: { confirm: t('activities.show.delete_confirmation') }, class: "btn btn-outline-secondary btn-sm"
        - elsif user_signed_in? && activity.user == current_user
          .btn-group.float-right{"role" => "group", "aria-label" => "Activity controls"}
            = link_to t('activities.show.resubmit'), edit_activity_path(activity), class: "btn btn-outline-secondary btn-sm"
  .card-footer
    - activity.tags.each do |tag|
      %span= link_to tag.long_name, tag, class: "badge badge-pill badge-success"
    
