.form_group
  = form_for(@activity) do |f|
    .field
      .form-group
        = f.text_field :name, placeholder: "Activity name", class: 'form-control'
        = f.text_area :short_description, placeholder: "Short Description", class: 'form-control'
        = f.text_area :long_description, placeholder: "Long Description", class: 'form-control', rows: 8
        = f.text_field :time_estimate, placeholder: "Estimated time", class: 'form-control'
        .tag-chooser
          %p Tags:
          - @tag_categories.each do |category|
            .tag-block.col-md-4
            %h5= category.name
            %ul
              = f.collection_check_boxes :tag_ids, category.tags, :id, :short_name do |tag_item|
                %li
                  = tag_item.check_box class: "form-check-input"
                  = tag_item.label class: "form-check-label"
        = f.submit "Submit", class:"btn btn-primary"