%h5= t('activities.school-level-listing.top-activities')

- @activites.each do |activity|
  .card
    .card-body
      %span.font-weight-bold= link_to activity.name, activity
      %span.font-weight-normal= activity.short_description
      - activity.tags.each do |tag|
        = link_to tag.short_name, tag, class: "badge badge-success"
      %span.badge.badge-info.float-right= activity.upvote_count
%br
%br
%h5= t('activities.school-level-listing.textbooks')
- textbook_level.each do |textbook|
  .card
    .card-body
      %span.font-weight-bold= link_to textbook.name, textbook
