- provide(:title, t('.title'))

.full-activity-display
  %h1= t('.heading')
  %p= t('.index-explanation')

  %ul.activity-card-list
    - @activities.each do |activity|
      %li.activity-card
        = link_to activity, title: activity.short_description do
          %p.activity-card-name= activity.name
          %p.activity-card-description= activity.short_description

  = paginate @activities

