- provide(:title, "Moderator queue")

%h4 Unapproved activities

%table.table.table-striped.table-sm
  %thead
    %tr
      %th{"scope" => "col"} Name
      %th{"scope" => "col"} Submitter
      %th{"scope" => "col"} Short description
  %tbody
    - @unapproved.each do |activity|
      %tr
        %th{"scope" => "row"}= link_to activity.name, activity
        %td= link_to "#{activity.user.username} (#{activity.user.activity_count})", activity.user
        %td= activity.short_description

%h4 Edited activities

%table.table.table-striped.table-sm
  %thead
    %tr
      %th{"scope" => "col"} Name
      %th{"scope" => "col"} Submitter
      %th{"scope" => "col"} Short description
  %tbody
    - @edited.each do |activity|
      %tr
        %th{"scope" => "row"}= link_to activity.name, activity
        %td= link_to "#{activity.user.username} (#{activity.user.activity_count})", activity.user
        %td= activity.short_description


%h4 Other useful administration links:
%ul
  %li= link_to "View all users", users_path
  -if current_user.admin?
    %li= link_to "Write a new front page post", new_front_page_post_path
    %li= link_to "Make a new tag", new_tag_path
    %li= link_to "Make a new tag category", new_tag_category_path
    %li= link_to "Make a new job post", new_job_post_path
  %li= link_to "Make a new textbook", new_textbook_path
