- provide(:title, t('.title'))

.full-generic-page
  %h2 News Posts
  - @front_page_posts.each do |post|
    .news-card
      = link_to post do
        %p.news-headline= post.title
        %p.news-excerpt= post.excerpt
        %p.read-more-link= l(post.created_at, format: :quite_short)
        %p.read-more-link= t('.read-more')

  =paginate @front_page_posts

