- provide(:title, "ALTopedia - #{@front_page_post.title}")
- content_for :head do
  <meta property="og:title" content="ALTopedia - #{@front_page_post.title}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="#{request.original_url}" />
  <meta property="og:image" content="https://www.altopedia.net#{asset_path "logo with background.png"}" />
  <meta property="og:description" content="#{@front_page_post.excerpt}" />
  <meta property="og:site_name" content="ALTopedia" />

.full-fpp-display
  %h1= @front_page_post.title
  .full-fpp-info
    %p.full-fpp-author= link_to @front_page_post.user.username, @front_page_post.user, class: "user-link"
    %p.full-fpp-date= l(@front_page_post.created_at, format: :quite_short)
  .fpp-content= markdown(@front_page_post.content, level: :image_and_video)
  - if user_signed_in? && policy(@front_page_post).update?
    %ul.general-controls 
      %li= link_to "Edit", edit_front_page_post_path(@front_page_post)
      %li= link_to "Delete", @front_page_post, method: :delete, data: { confirm: "Delete this post?" }


= render partial: 'comments/comment_list', locals: { comments: @comments, show_source: false }
= render partial: 'comments/form', locals: { commentable_type: "FrontPagePost", commentable_id: @front_page_post.id }
