- provide(:title, "ALTopedia - #{@front_page_post.title}")
- content_for :head do
  <meta property="og:title" content="ALTopedia - #{@front_page_post.title}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="#{request.original_url}" />
  <meta property="og:image" content="https://www.altopedia.org#{asset_path "logo with background.png"}" />
  <meta property="og:description" content="#{@front_page_post.excerpt}" />
  <meta property="og:site_name" content="ALTopedia" />

.card.mb-4
  .card-header
    %h2= @front_page_post.title
  .card-body
    .post-content= markdown_for_posts(@front_page_post.content)
    - if user_signed_in? && policy(@front_page_post).update?
      .btn-group.float-right{"role" => "group", "aria-label" => "Post controls"}
        = link_to "Edit post", edit_front_page_post_path(@front_page_post), class: "btn btn-outline-secondary btn-sm"
        = link_to "Delete post", @front_page_post, method: :delete, data: { confirm: "Are you sure you wanna delete this post?" }, class: "btn btn-outline-secondary btn-sm"
  .card-footer.text-right
    %p by #{@front_page_post.user.username}
    %p= l(@front_page_post.created_at, format: :quite_short)

= render partial: 'comments/comment_list', locals: { comments: @comments }
= render partial: 'comments/form', locals: { commentable_type: "FrontPagePost", commentable_id: @front_page_post.id }
