= form_for(@textbook.textbook_pages.build) do |f|
  = render 'shared/error_messages', object: f.object
  .form-row
    = f.hidden_field :textbook_id, value: @textbook.id
    .col-1.col-sm-3.col-lg-1
      = f.text_field :page, placeholder: "Page #", class: 'form-control'
    .col-6.col-sm-8.col-lg-6
      = f.text_field :description, placeholder: "Description", class: 'form-control'
    .col-3.col-sm-8.col-lg-3
      = f.collection_select :tag_id, @tags, :id, :long_name, {}, class: 'form-control'
    .col-2
      = f.submit t('submit'), class: "btn btn-primary"
