= form_with model: @textbook.textbook_pages.build, class: "compact-textbook-page-form" do |f|
  = render 'shared/error_messages', object: f.object
  = f.hidden_field :textbook_id, value: @textbook.id
  = f.text_field :page, placeholder: "Page #", class: "form-textfield"
  = f.text_field :description, placeholder: "Description", class: "form-textfield"
  = f.collection_select :tag_id, @tags, :id, :name, {}, class: "form-select"
  = f.submit "Submit", class: "compact-submit-button"
