%footer.container-fluid.p-4.mt-4
  .row
    .col-md-4
      %h5.text-light ALTopedia
      %ul.list-unstyled.text-small
        %li= link_to t('layouts.about'), about_path, class: "text-light"
        %li= link_to "Contact", contact_path, class: "text-light"
        %li= link_to "Acknowledgements", thanks_path, class: "text-light"
    .col-md-4
      %h5.text-light Elsewhere
      %ul.list-unstyled.text-small
        %li= link_to "ALT Training Online", altto_path, class: "text-light"
        %li= link_to "Resources", resources_path, class: "text-light"
