%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to "ALT Activities", root_path, class: "navbar-brand"
  %button.navbar-toggler{"type" => "button", "data-toggle" => "collapse", "data-target" => "#navbarSupportedContent",
                          "aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle Navigation" }
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = link_to "About", about_path, class: "nav-link"
      - if user_signed_in?
        %li.nav-item.active
          = link_to  "Log out (#{current_user.username})", destroy_user_session_path, method: :delete, class: "nav-link"
      - else
        %li.nav-item.active
          = link_to  "Log in", new_user_session_path, class: "nav-link"
      %li.nav-item.dropdown.active
        %a.nav-link.dropdown-toggle{"href"=>"#", "id"=>"navbarDropdown", "role"=>"button", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
          Activities
        .dropdown-menu
          = link_to "Create new", new_activity_path, class: "dropdown-item"
          = link_to "View all", activities_path, class: "dropdown-item"