= image_tag "logo.png", class: "site-logo", alt: "ALTopedia logo"
%nav
  %ul.primary-nav
    %li.primary-nav-item
      = link_to "ALTopedia", root_path, class: "primary-nav-link"
    - if user_signed_in?
      %li.primary-nav-item
        = link_to "Your profile", current_user, class: "primary-nav-link nav-profile-link"
      %li.primary-nav-item
        = link_to t('layouts.log_out'), destroy_user_session_path, method: :delete, class: "primary-nav-link"
    - else
      %li.primary-nav-item
        = link_to t('layouts.log_in'), new_user_session_path, class: "primary-nav-link"
      %li.primary-nav-item
        = link_to t('layouts.register-new-account'), new_user_registration_path, class: "primary-nav-link"
    %li.primary-nav-item
      = link_to t('layouts.contribute'), contribute_path, class: "primary-nav-link"
    %li.primary-nav-item
      = link_to "Tag Search", search_path, class: "primary-nav-link"
    %li.primary-nav-item
      = form_tag(activity_search_path, method: :get, class: "nav-search") do
        = text_field_tag :search, nil, class: "nav-search-textfield"
        = submit_tag "Search", class: "nav-search-button"
  %ul.secondary-nav
    %li.secondary-nav-item
      = link_to t('layouts.textbook_listing'), textbooks_path, class: "secondary-nav-link"
    %li.secondary-nav-item
      = link_to t('layouts.grammar'), grammar_path, class: "secondary-nav-link"
    %li.secondary-nav-item
      = link_to t('layouts.es'), es_path, class: "secondary-nav-link"
    %li.secondary-nav-item
      = link_to t('layouts.jhs'), jhs_path, class: "secondary-nav-link"
    %li.secondary-nav-item
      = link_to t('layouts.hs'), hs_path, class: "secondary-nav-link"

