%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  %a.navbar-brand{"href" => root_path}
    = image_tag "logo.png", size: "30x30", alt: t('layouts.site_title'), class: "d-inline-block align-top"
    ALTopedia
  %button.navbar-toggler{"type" => "button", "data-toggle" => "collapse", "data-target" => "#navbarSupportedContent",
                          "aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle Navigation" }
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav
      - if user_signed_in?
        %li.nav-item.active
          = link_to  current_user.username, current_user, class: "nav-link"
        - if current_user.admin? || current_user.moderator?
          %li.nav-item.active= link_to "Mod queue", modqueue_path, class: "nav-link"
        - elsif current_user.job_poster?
          %li.nav-item.active= link_to "Post new job listing", new_job_post_path, class: "nav-link"
      - else
        %li.nav-item.active
          = link_to t('layouts.log_in'), new_user_session_path, class: "nav-link"
      %li.nav-item.active
        = link_to t('layouts.new-activity'), new_activity_path, class: "nav-link"
      %li.nav-item.active
        = link_to t('layouts.job-listings'), jobs_path, class: "nav-link"
      %li.nav-item.active
        = link_to "ALTTO", altto_path, class: "nav-link"
      - if user_signed_in?
        %li.nav-item.active
          = link_to t('layouts.log_out'), destroy_user_session_path, method: :delete, class: "nav-link"
      - if I18n.locale == :ja
        %li.nav-item= link_to "English", "https://en.altopedia.org", class: "nav-link"
      - elsif I18n.locale == :en
        %li.nav-item= link_to "日本語", "https://ja.altopedia.org", class: "nav-link"
.nav-scroller.bg-white.box-shadow
  %nav.nav.nav-underline
    = link_to t('layouts.es'), es_path, class: "nav-link active"
    = link_to t('layouts.jhs'), jhs_path, class: "nav-link active"
    = link_to t('layouts.hs'), hs_path, class: "nav-link active"
    = link_to t('layouts.warm-ups'), warmups_path, class: "nav-link active"
    = link_to t('layouts.grammar'), grammar_path, class: "nav-link active"
    = link_to t('layouts.textbook_listing'), textbooks_path, class: "nav-link active"
    
