<!DOCTYPE html>
%html
  %head
    - if Rails.env.production?
      = render "shared/analytics"
    %title= yield(:title)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_pack_tag 'application', 'data-turbolinks-track' => true
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
    = content_for?(:head) ? yield(:head) : ''
    <script src='https://www.google.com/recaptcha/api.js'></script>
    = favicon_link_tag asset_path('favicon.ico')
    = favicon_link_tag asset_path('apple-touch-icon.png'), rel: 'apple-touch-icon'
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet"> 
  %body
    %header
      = render 'layouts/header' 
    %main{"role" => "main"}
      - flash.each do |message_type, message|
        = content_tag :div, message, class: "flash flash-#{message_type} alert-#{message_type}"
      .main-body-content
        = yield
    %footer
      = render 'layouts/footer'
